VITE_TROLL_MINT=5UUH9RTDiSpq6HKS6bp4NdU9PNJpXRXuiw6ShBTBhgH2
VITE_HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=e1b111b0-8bcc-4cf8-8a47-511b802e1ec4
VITE_DEXSCREENER_PAIR_URL=https://dexscreener.com/solana/4w2cysotx6czaugmmwg13hdpy4qemg2czekyeqyk9ama
VITE_GECKOTERMINAL_POOL_URL=https://www.geckoterminal.com/solana/pools/4w2cysotX6czaUGmmWg13hDpY4QEMG2CzeKYEQyK9Ama

ADMIN_API_KEY=b9fba079bf2c0d6b6424b8d82ed9e0f171068124174713ca43af4053acb380e6
SUPABASE_URL=https://ltabszmucgebewiqvqrq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0YWJzem11Y2dlYmV3aXF2cXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkxMjcxNCwiZXhwIjoyMDkzNDg4NzE0fQ.LkmGpHS1wdojoswZW3s8w7DEQrJ-arNganeMOu2jylI
HELIUS_RPC_URL=https:https://mainnet.helius-rpc.com/?api-key=e1b111b0-8bcc-4cf8-8a47-511b802e1ec4
TROLL_MINT=5UUH9RTDiSpq6HKS6bp4NdU9PNJpXRXuiw6ShBTBhgH2
ESCROW_AUTHORITY_SECRET=55YzjLetHgquNqYLvU6nnkHA7BJb373X7AnAC8dBCG9WBEevfkZk3GgBr6TfkB6ZEfYGBGfYyVfku2gypt9gBqgo
SERVER_PORT=8787